<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chosed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,382}</string>
                <key>spriteSourceSize</key>
                <string>{338,382}</string>
                <key>textureRect</key>
                <string>{{996,894},{338,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>look_chosed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{858,170}</string>
                <key>spriteSourceSize</key>
                <string>{858,170}</string>
                <key>textureRect</key>
                <string>{{863,253},{858,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>look_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{122,122}</string>
                <key>textureRect</key>
                <string>{{1400,126},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>look_right2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{858,170}</string>
                <key>spriteSourceSize</key>
                <string>{858,170}</string>
                <key>textureRect</key>
                <string>{{0,253},{858,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>look_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{858,170}</string>
                <key>spriteSourceSize</key>
                <string>{858,170}</string>
                <key>textureRect</key>
                <string>{{0,428},{858,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>look_wrong2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{858,170}</string>
                <key>spriteSourceSize</key>
                <string>{858,170}</string>
                <key>textureRect</key>
                <string>{{863,428},{858,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,384}</string>
                <key>spriteSourceSize</key>
                <string>{338,384}</string>
                <key>textureRect</key>
                <string>{{1339,894},{338,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>select_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{286,332}</string>
                <key>spriteSourceSize</key>
                <string>{286,332}</string>
                <key>textureRect</key>
                <string>{{705,894},{286,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,325}</string>
                <key>spriteSourceSize</key>
                <string>{700,325}</string>
                <key>textureRect</key>
                <string>{{0,894},{700,325}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ts_llook_right2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{695,121}</string>
                <key>spriteSourceSize</key>
                <string>{695,121}</string>
                <key>textureRect</key>
                <string>{{0,126},{695,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ts_llook_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{695,121}</string>
                <key>spriteSourceSize</key>
                <string>{695,121}</string>
                <key>textureRect</key>
                <string>{{0,0},{695,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ts_llook_wrong2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{695,121}</string>
                <key>spriteSourceSize</key>
                <string>{695,121}</string>
                <key>textureRect</key>
                <string>{{700,0},{695,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ts_look_chosed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{695,121}</string>
                <key>spriteSourceSize</key>
                <string>{695,121}</string>
                <key>textureRect</key>
                <string>{{700,126},{695,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>words_words_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{662,286}</string>
                <key>spriteSourceSize</key>
                <string>{662,286}</string>
                <key>textureRect</key>
                <string>{{667,603},{662,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>words_wrong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{662,286}</string>
                <key>spriteSourceSize</key>
                <string>{662,286}</string>
                <key>textureRect</key>
                <string>{{0,603},{662,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wrong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,384}</string>
                <key>spriteSourceSize</key>
                <string>{338,384}</string>
                <key>textureRect</key>
                <string>{{1682,894},{338,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>border.png</string>
            <key>size</key>
            <string>{2020,1278}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d596b1940af85f6f814d826b77221a93:3d17a59c94b1ab5cf587f8d14f63e7c2:724e6d2efb95b43901a619f1e1552d55$</string>
            <key>textureFileName</key>
            <string>border.png</string>
        </dict>
    </dict>
</plist>
