<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{286,334}</string>
                <key>spriteSourceSize</key>
                <string>{286,334}</string>
                <key>textureRect</key>
                <string>{{0,0},{286,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>part_groove.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,736}</string>
                <key>spriteSourceSize</key>
                <string>{96,736}</string>
                <key>textureRect</key>
                <string>{{291,0},{96,736}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picture.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{286,332}</string>
                <key>spriteSourceSize</key>
                <string>{286,332}</string>
                <key>textureRect</key>
                <string>{{392,0},{286,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picture_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,366}</string>
                <key>spriteSourceSize</key>
                <string>{320,366}</string>
                <key>textureRect</key>
                <string>{{683,0},{320,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>word_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{465,113}</string>
                <key>spriteSourceSize</key>
                <string>{465,113}</string>
                <key>textureRect</key>
                <string>{{0,741},{465,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>word_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,62}</string>
                <key>spriteSourceSize</key>
                <string>{212,62}</string>
                <key>textureRect</key>
                <string>{{470,741},{212,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>boxes.png</string>
            <key>size</key>
            <string>{1003,854}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58c1ce408dc07cc17d38aaa9ed6c5cbe:d6be5792b52fec3151f3fb335fd7bbee:080c3c2f57eb3cb0274e9f0689013a79$</string>
            <key>textureFileName</key>
            <string>boxes.png</string>
        </dict>
    </dict>
</plist>
