<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,90}</string>
                <key>spriteSourceSize</key>
                <string>{96,90}</string>
                <key>textureRect</key>
                <string>{{570,0},{96,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Star2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,90}</string>
                <key>spriteSourceSize</key>
                <string>{94,90}</string>
                <key>textureRect</key>
                <string>{{671,0},{94,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{485,0},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,90}</string>
                <key>spriteSourceSize</key>
                <string>{220,90}</string>
                <key>textureRect</key>
                <string>{{770,0},{220,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,104}</string>
                <key>spriteSourceSize</key>
                <string>{244,104}</string>
                <key>textureRect</key>
                <string>{{0,305},{244,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,226}</string>
                <key>spriteSourceSize</key>
                <string>{226,226}</string>
                <key>textureRect</key>
                <string>{{635,637},{226,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>check.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,72}</string>
                <key>spriteSourceSize</key>
                <string>{68,72}</string>
                <key>textureRect</key>
                <string>{{412,0},{68,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,147}</string>
                <key>spriteSourceSize</key>
                <string>{148,147}</string>
                <key>textureRect</key>
                <string>{{127,432},{148,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,96}</string>
                <key>spriteSourceSize</key>
                <string>{220,96}</string>
                <key>textureRect</key>
                <string>{{675,95},{220,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>five.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,116}</string>
                <key>spriteSourceSize</key>
                <string>{127,116}</string>
                <key>textureRect</key>
                <string>{{645,305},{127,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>four.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,116}</string>
                <key>spriteSourceSize</key>
                <string>{127,116}</string>
                <key>textureRect</key>
                <string>{{513,305},{127,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{337,0},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,170}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{442,432},{170,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,96}</string>
                <key>spriteSourceSize</key>
                <string>{220,96}</string>
                <key>textureRect</key>
                <string>{{225,95},{220,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>look_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{122,122}</string>
                <key>textureRect</key>
                <string>{{777,305},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>look_wrong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{122,122}</string>
                <key>textureRect</key>
                <string>{{0,432},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>out.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,99}</string>
                <key>spriteSourceSize</key>
                <string>{220,99}</string>
                <key>textureRect</key>
                <string>{{202,196},{220,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>play.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{101,196},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>record.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{617,432},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>record_stop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{43,0},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>recording.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,220}</string>
                <key>spriteSourceSize</key>
                <string>{220,220}</string>
                <key>textureRect</key>
                <string>{{410,637},{220,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>recording_start.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{205,637},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>reload.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,161}</string>
                <key>spriteSourceSize</key>
                <string>{157,161}</string>
                <key>textureRect</key>
                <string>{{280,432},{157,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,96}</string>
                <key>spriteSourceSize</key>
                <string>{220,96}</string>
                <key>textureRect</key>
                <string>{{0,95},{220,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,96}</string>
                <key>spriteSourceSize</key>
                <string>{220,96}</string>
                <key>textureRect</key>
                <string>{{450,95},{220,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{0,637},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>study_stop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{0,196},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>submit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,104}</string>
                <key>spriteSourceSize</key>
                <string>{230,104}</string>
                <key>textureRect</key>
                <string>{{662,196},{230,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>three.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,116}</string>
                <key>spriteSourceSize</key>
                <string>{127,116}</string>
                <key>textureRect</key>
                <string>{{249,305},{127,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unsubmit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,104}</string>
                <key>spriteSourceSize</key>
                <string>{230,104}</string>
                <key>textureRect</key>
                <string>{{427,196},{230,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>word_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,66}</string>
                <key>spriteSourceSize</key>
                <string>{240,66}</string>
                <key>textureRect</key>
                <string>{{92,0},{240,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zero.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,116}</string>
                <key>spriteSourceSize</key>
                <string>{127,116}</string>
                <key>textureRect</key>
                <string>{{381,305},{127,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>butttons.png</string>
            <key>size</key>
            <string>{990,863}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ce3945fb109d955ad8fb056e15bcfc6:495ac34ff1d5d748341aafdec4bf8e34:d3db19c19c4ed4441d2775354bee5b29$</string>
            <key>textureFileName</key>
            <string>butttons.png</string>
        </dict>
    </dict>
</plist>
