<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gold_border.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{463,363}</string>
                <key>spriteSourceSize</key>
                <string>{463,363}</string>
                <key>textureRect</key>
                <string>{{0,775},{463,363}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,300}</string>
                <key>spriteSourceSize</key>
                <string>{400,300}</string>
                <key>textureRect</key>
                <string>{{445,466},{400,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_center_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,400}</string>
                <key>spriteSourceSize</key>
                <string>{673,400}</string>
                <key>textureRect</key>
                <string>{{2657,775},{673,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_center_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{649,400}</string>
                <key>spriteSourceSize</key>
                <string>{649,400}</string>
                <key>textureRect</key>
                <string>{{2003,775},{649,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_center_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{632,400}</string>
                <key>spriteSourceSize</key>
                <string>{632,400}</string>
                <key>textureRect</key>
                <string>{{0,1180},{632,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_groove.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,300}</string>
                <key>spriteSourceSize</key>
                <string>{400,300}</string>
                <key>textureRect</key>
                <string>{{1740,466},{400,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_scroll_groove.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,180}</string>
                <key>spriteSourceSize</key>
                <string>{240,180}</string>
                <key>textureRect</key>
                <string>{{2440,0},{240,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right_border.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{404,304}</string>
                <key>spriteSourceSize</key>
                <string>{404,304}</string>
                <key>textureRect</key>
                <string>{{2590,466},{404,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,129}</string>
                <key>spriteSourceSize</key>
                <string>{128,129}</string>
                <key>textureRect</key>
                <string>{{1692,0},{128,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>round.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{604,113}</string>
                <key>spriteSourceSize</key>
                <string>{604,113}</string>
                <key>textureRect</key>
                <string>{{950,0},{604,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_bg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,300}</string>
                <key>spriteSourceSize</key>
                <string>{440,300}</string>
                <key>textureRect</key>
                <string>{{850,466},{440,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_bg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,206}</string>
                <key>spriteSourceSize</key>
                <string>{440,206}</string>
                <key>textureRect</key>
                <string>{{1335,192},{440,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_center_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,400}</string>
                <key>spriteSourceSize</key>
                <string>{673,400}</string>
                <key>textureRect</key>
                <string>{{637,1180},{673,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_center_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{566,400}</string>
                <key>spriteSourceSize</key>
                <string>{566,400}</string>
                <key>textureRect</key>
                <string>{{1315,1180},{566,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_center_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{695,400}</string>
                <key>spriteSourceSize</key>
                <string>{695,400}</string>
                <key>textureRect</key>
                <string>{{1886,1180},{695,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_center_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1022,382}</string>
                <key>spriteSourceSize</key>
                <string>{1022,382}</string>
                <key>textureRect</key>
                <string>{{976,775},{1022,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_center_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{695,400}</string>
                <key>spriteSourceSize</key>
                <string>{695,400}</string>
                <key>textureRect</key>
                <string>{{2586,1180},{695,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_drag_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{614,187}</string>
                <key>spriteSourceSize</key>
                <string>{614,187}</string>
                <key>textureRect</key>
                <string>{{2685,0},{614,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_emty_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{610,180}</string>
                <key>spriteSourceSize</key>
                <string>{610,180}</string>
                <key>textureRect</key>
                <string>{{1825,0},{610,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_gold_border.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{503,269}</string>
                <key>spriteSourceSize</key>
                <string>{503,269}</string>
                <key>textureRect</key>
                <string>{{3207,192},{503,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_groove2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,206}</string>
                <key>spriteSourceSize</key>
                <string>{440,206}</string>
                <key>textureRect</key>
                <string>{{445,192},{440,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_groove_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,300}</string>
                <key>spriteSourceSize</key>
                <string>{440,300}</string>
                <key>textureRect</key>
                <string>{{0,466},{440,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_high_gold_border.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{503,363}</string>
                <key>spriteSourceSize</key>
                <string>{503,363}</string>
                <key>textureRect</key>
                <string>{{468,775},{503,363}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_high_right_border.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,300}</string>
                <key>spriteSourceSize</key>
                <string>{440,300}</string>
                <key>textureRect</key>
                <string>{{1295,466},{440,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_high_wrong_border.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,300}</string>
                <key>spriteSourceSize</key>
                <string>{440,300}</string>
                <key>textureRect</key>
                <string>{{2145,466},{440,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_right_border.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,206}</string>
                <key>spriteSourceSize</key>
                <string>{440,206}</string>
                <key>textureRect</key>
                <string>{{0,192},{440,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_wrong_border.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,206}</string>
                <key>spriteSourceSize</key>
                <string>{440,206}</string>
                <key>textureRect</key>
                <string>{{890,192},{440,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tips_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{414,74}</string>
                <key>spriteSourceSize</key>
                <string>{414,74}</string>
                <key>textureRect</key>
                <string>{{531,0},{414,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tips_bg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{526,72}</string>
                <key>spriteSourceSize</key>
                <string>{526,72}</string>
                <key>textureRect</key>
                <string>{{0,0},{526,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1422,255}</string>
                <key>spriteSourceSize</key>
                <string>{1422,255}</string>
                <key>textureRect</key>
                <string>{{1780,192},{1422,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wrong_border.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{404,304}</string>
                <key>spriteSourceSize</key>
                <string>{404,304}</string>
                <key>textureRect</key>
                <string>{{2999,466},{404,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wrong_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1559,0},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>drag_multiple.png</string>
            <key>size</key>
            <string>{3710,1580}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b40510b34e0da86254ee25b14168b659:8fa31d406f1942a1259597c40d22a3f7:023b860a7086ba4b21dc4a5bb33df7cb$</string>
            <key>textureFileName</key>
            <string>drag_multiple.png</string>
        </dict>
    </dict>
</plist>
