<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,243}</string>
                <key>spriteSourceSize</key>
                <string>{243,243}</string>
                <key>textureRect</key>
                <string>{{81,0},{243,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,243}</string>
                <key>spriteSourceSize</key>
                <string>{243,243}</string>
                <key>textureRect</key>
                <string>{{0,243},{243,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shu1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{392,380}</string>
                <key>spriteSourceSize</key>
                <string>{392,380}</string>
                <key>textureRect</key>
                <string>{{0,486},{392,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shu2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{392,379}</string>
                <key>spriteSourceSize</key>
                <string>{392,379}</string>
                <key>textureRect</key>
                <string>{{0,1245},{392,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shu3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{392,379}</string>
                <key>spriteSourceSize</key>
                <string>{392,379}</string>
                <key>textureRect</key>
                <string>{{0,866},{392,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,82}</string>
                <key>spriteSourceSize</key>
                <string>{81,82}</string>
                <key>textureRect</key>
                <string>{{0,0},{81,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>drag1.png</string>
            <key>size</key>
            <string>{392,1624}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1da25f68e80314bcf17f0b6cc4d0ed93:f76c0a7a6819734c84f051d507dd04f4:dc4c57b372540ffbe6a7870774276482$</string>
            <key>textureFileName</key>
            <string>drag1.png</string>
        </dict>
    </dict>
</plist>
